<settings>

    <setting propertyKey="@Properties.Field1" title="@Strings.Field1Title">
        <settingConfig type="list">
            
            <listEntry value="99">@Strings.None</listEntry>    
            <listEntry value="1">@Strings.Altitude</listEntry> 
            <listEntry value="6">@Strings.Battery</listEntry>                        
			
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Field2" title="@Strings.Field2Title">
        <settingConfig type="list">
        
        	<listEntry value="99">@Strings.None</listEntry>  
            <listEntry value="2">@Strings.Steps</listEntry>   
            <listEntry value="1">@Strings.Altitude</listEntry> 
            <listEntry value="8">@Strings.Day</listEntry>  
            <listEntry value="7">@Strings.Date</listEntry>                         
			
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Field3" title="@Strings.Field3Title">
        <settingConfig type="list">
        
        	<listEntry value="99">@Strings.None</listEntry>  
            <listEntry value="3">@Strings.BT</listEntry>   
            <listEntry value="4">@Strings.Alarm</listEntry>                          
			
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Field4" title="@Strings.Field4Title">
        <settingConfig type="list">
        
        	<listEntry value="99">@Strings.None</listEntry>  
            <listEntry value="4">@Strings.Alarm</listEntry>   
            <listEntry value="3">@Strings.BT</listEntry>                          
			
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Field5" title="@Strings.Field5Title">
        <settingConfig type="list">
        
        	<listEntry value="99">@Strings.None</listEntry>  
            <listEntry value="6">@Strings.Battery</listEntry>
            <listEntry value="9">@Strings.ampm</listEntry>    
                                     
			
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Field6" title="@Strings.Field6Title">
        <settingConfig type="list">
        
        	<listEntry value="99">@Strings.None</listEntry>  
            <listEntry value="6">@Strings.Battery</listEntry> 
            <listEntry value="9">@Strings.ampm</listEntry>   
                                  
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Field7" title="@Strings.Field7Title">
        <settingConfig type="list">
        
        	<listEntry value="99">@Strings.None</listEntry>  
            <listEntry value="2">@Strings.Steps</listEntry>   
            <listEntry value="1">@Strings.Altitude</listEntry> 
            <listEntry value="8">@Strings.Day</listEntry>  
            <listEntry value="7">@Strings.Date</listEntry>    
                                  
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Field8" title="@Strings.Field8Title">
        <settingConfig type="list">
        
        	<listEntry value="99">@Strings.None</listEntry>   
            <listEntry value="1">@Strings.Altitude</listEntry>  
            <listEntry value="7">@Strings.Date</listEntry>     
                                  
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.ShowwBattery" title="@Strings.ShowBatteryTitle">
        <settingConfig type="list">
               
            <listEntry value="100">@Strings.Yes</listEntry> 
            <listEntry value="1">@Strings.No</listEntry>
            <listEntry value="50">@Strings.LessThan50</listEntry>
            <listEntry value="25">@Strings.LessThan25</listEntry>                       
			
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.DateFormattt" title="@Strings.DateFormatTitle">
        <settingConfig type="list">
               
            <listEntry value="1">@Strings.Date1</listEntry> 
            <listEntry value="2">@Strings.Date2</listEntry>
            <listEntry value="3">@Strings.Date3</listEntry>
            <listEntry value="4">@Strings.Date4</listEntry> 
            <listEntry value="5">@Strings.Date5</listEntry>
            <listEntry value="6">@Strings.Date6</listEntry> 
			
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.BckgColor" title="@Strings.BckgColorTitle">
        <settingConfig type="list">
               
            <listEntry value="1">@Strings.ColorBlack</listEntry> 
            <listEntry value="2">@Strings.ColorWhite</listEntry>                     
			
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.MinuteColor" title="@Strings.MinuteColorTitle">
        <settingConfig type="list">
               
            <listEntry value="1">@Strings.ColorWhite</listEntry> 
            <listEntry value="2">@Strings.ColorRed</listEntry>
            <listEntry value="3">@Strings.ColorGreen</listEntry> 
            <listEntry value="4">@Strings.ColorBlue</listEntry> 
            <listEntry value="5">@Strings.ColorOrange</listEntry> 
            <listEntry value="6">@Strings.ColorPurple</listEntry> 
            <listEntry value="7">@Strings.ColorYellow</listEntry>
            <listEntry value="8">@Strings.ColorBlack</listEntry>                          
			
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.ShowLine" title="@Strings.ShowLineTitle">
        <settingConfig type="list">
               
            <listEntry value="1">@Strings.Yes</listEntry> 
            <listEntry value="2">@Strings.No</listEntry>                      
			
        </settingConfig>
    </setting>
    
    
    
    <setting propertyKey="@Properties.LineColor" title="@Strings.LineColorTitle">
        <settingConfig type="list">
               
            <listEntry value="1">@Strings.ColorWhite</listEntry> 
            <listEntry value="2">@Strings.ColorRed</listEntry>
            <listEntry value="3">@Strings.ColorGreen</listEntry> 
            <listEntry value="4">@Strings.ColorBlue</listEntry> 
            <listEntry value="5">@Strings.ColorOrange</listEntry> 
            <listEntry value="6">@Strings.ColorPurple</listEntry> 
            <listEntry value="7">@Strings.ColorYellow</listEntry>
            <listEntry value="8">@Strings.ColorBlack</listEntry>                        
			
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.ShowDelimiter" title="@Strings.ShowDelimiterTitle">
        <settingConfig type="list">
               
            <listEntry value="1">@Strings.Yes</listEntry> 
            <listEntry value="2">@Strings.No2</listEntry>                      
			
        </settingConfig>
    </setting>
    
    
        <setting propertyKey="@Properties.ShowSecondTimeee" title="@Strings.ShowSecondTimeTitle">
        <settingConfig type="list">
               
            <listEntry value="1">@Strings.Yes</listEntry> 
            <listEntry value="2">@Strings.No</listEntry>                      
			
        </settingConfig>
    </setting>
       

 <setting propertyKey="@Properties.TimeZoneee" title="@Strings.TimeZoneTitle">
        <settingConfig type="list">
                
            <listEntry value="1">@Strings.m23</listEntry> 
            <listEntry value="2">@Strings.m22</listEntry> 
            <listEntry value="3">@Strings.m21</listEntry> 
            <listEntry value="4">@Strings.m20</listEntry> 
            <listEntry value="5">@Strings.m19</listEntry> 
            <listEntry value="6">@Strings.m18</listEntry> 
            <listEntry value="7">@Strings.m17</listEntry> 
            <listEntry value="8">@Strings.m16</listEntry> 
            <listEntry value="9">@Strings.m15</listEntry> 
            <listEntry value="10">@Strings.m14</listEntry> 
            <listEntry value="11">@Strings.m13</listEntry> 
            <listEntry value="12">@Strings.m12</listEntry> 
            <listEntry value="13">@Strings.m11</listEntry>
            <listEntry value="14">@Strings.m10</listEntry>
            <listEntry value="15">@Strings.m09</listEntry>
            <listEntry value="16">@Strings.m08</listEntry>
            <listEntry value="17">@Strings.m07</listEntry>
            <listEntry value="18">@Strings.m06</listEntry>
            <listEntry value="19">@Strings.m05</listEntry>
            <listEntry value="20">@Strings.m04</listEntry>
            <listEntry value="21">@Strings.m03</listEntry>
            <listEntry value="22">@Strings.m02</listEntry>
            <listEntry value="23">@Strings.m01</listEntry>
            <listEntry value="24">@Strings.utc</listEntry>
            <listEntry value="25">@Strings.p01</listEntry>
            <listEntry value="26">@Strings.p02</listEntry>
            <listEntry value="27">@Strings.p03</listEntry>
            <listEntry value="28">@Strings.p04</listEntry>
            <listEntry value="29">@Strings.p05</listEntry>
            <listEntry value="30">@Strings.p06</listEntry>
            <listEntry value="31">@Strings.p07</listEntry>
            <listEntry value="32">@Strings.p08</listEntry>
            <listEntry value="33">@Strings.p09</listEntry>
            <listEntry value="34">@Strings.p10</listEntry>
            <listEntry value="35">@Strings.p11</listEntry>
            <listEntry value="36">@Strings.p12</listEntry>  
            <listEntry value="37">@Strings.p13</listEntry>  
            <listEntry value="38">@Strings.p14</listEntry>
            <listEntry value="39">@Strings.p15</listEntry> 
            <listEntry value="40">@Strings.p16</listEntry> 
            <listEntry value="41">@Strings.p17</listEntry> 
            <listEntry value="42">@Strings.p18</listEntry> 
            <listEntry value="43">@Strings.p19</listEntry> 
            <listEntry value="44">@Strings.p20</listEntry> 
            <listEntry value="45">@Strings.p21</listEntry> 
            <listEntry value="46">@Strings.p22</listEntry> 
            <listEntry value="47">@Strings.p23</listEntry> 
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.TimeInText" title="@Strings.ShowTimeInText">
        <settingConfig type="list">
               
            <listEntry value="1">@Strings.Digit</listEntry> 
            <listEntry value="2">@Strings.Text</listEntry>                      
			
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.TimeeeColor20" title="@Strings.color20">
        <settingConfig type="list">
        		<listEntry value="1">@Strings.ColorWhite</listEntry> 
            <listEntry value="2">@Strings.ColorRed</listEntry>
            <listEntry value="3">@Strings.ColorGreen</listEntry> 
            <listEntry value="4">@Strings.ColorBlue</listEntry> 
            <listEntry value="5">@Strings.ColorOrange</listEntry> 
            <listEntry value="6">@Strings.ColorPurple</listEntry> 
            <listEntry value="7">@Strings.ColorYellow</listEntry>
            <listEntry value="8">@Strings.ColorBlack</listEntry>  
            <listEntry value="9">@Strings.ColorDefault</listEntry> 
        </settingConfig>
    </setting>

    
    <setting propertyKey="@Properties.TimeeeColor100" title="@Strings.color100">
        <settingConfig type="list">
             <listEntry value="1">@Strings.ColorWhite</listEntry> 
            <listEntry value="2">@Strings.ColorRed</listEntry>
            <listEntry value="3">@Strings.ColorGreen</listEntry> 
            <listEntry value="4">@Strings.ColorBlue</listEntry> 
            <listEntry value="5">@Strings.ColorOrange</listEntry> 
            <listEntry value="6">@Strings.ColorPurple</listEntry> 
            <listEntry value="7">@Strings.ColorYellow</listEntry>
            <listEntry value="8">@Strings.ColorBlack</listEntry>  
            <listEntry value="9">@Strings.ColorDefault</listEntry> 
        </settingConfig>
    </setting>


</settings>
